<ul>
  <% $bookmarks.each do |bookmark| %>
    <li><%= bookmark %></li>
  <% end %>

  <form action='/bookmarks' method='post'>
<label for="url">enter link
  <input type='text' name='url'>
</label><br>
<label for="title">enter title
  <input type='text' name='title'>
  </label><br>
<input type='submit' name='Add' value='ADD'>
</form>
</ul>
